---
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import { title, description, base } from "../../utils/const";

const permalink = `${base}/about`;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>
  <body>
    <BlogHeader />
    <main>
      <p>
        Heresce! My name is Adam Recvlohe (Spotted Arrow). I am a citizen of
        Tvlvhase Wvkokaye Tribal Town, Muscogee Nation, United States, Canada,
        and son of Nokosvlke. I am an advocate for <a
          rel="noopener noreferrer"
          href="https://nativesintech.org">Natives in Tech</a
        >, a nonprofit cultivating a tech ecosystem for Native technologists. I
        am a supporter of the Muscogee Language Foundation which works to keep
        Muscogee a living language.
      </p>
    </main>
  </body>
</html>
