---
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";
import type { Frontmatter } from "../../utils/types";
import { title, description, base } from "../../utils/const";

const allPosts = await Astro.glob<Frontmatter>("./posts/*.md");
allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter["publishDate"]).getTime() -
    new Date(a.frontmatter["publishDate"]).getTime()
);
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={base} />
  </head>

  <body>
    <main>
      <BlogHeader />
      <article>
        <section>
          {allPosts.map((p) => <BlogPostPreview post={p} />)}
        </section>
      </article>
    </main>
  </body>
</html>
