---
import type { Article } from "../../utils/types";
import { Webmentions } from "./Webmentions";

type Props = Article;

const { publishDate, title, url }: Props = Astro.props;

const webmentionsUrl = `https://webmention.io/api/mentions.jf2?target=https://adamrecvlohe.com${url}/`;
---

<style>
  .link-wrapper {
    padding-bottom: 20px;
  }
</style>

<main>
  <article>
    <div class="link-wrapper">
      <a
        rel="noopener noreferrer"
        href={`/${url?.includes("posts") ? "posts" : "tutorials"}`}>Back</a
      >
    </div>
    <p>{publishDate}</p>
    <h1>{title}</h1>
    <slot />
    <Webmentions url={webmentionsUrl} client:visible />
  </article>
</main>
