---
import type { Article } from "../../utils/types";

type Props = Article;

const { publishDate, title, url }: Props = Astro.props;
---

<style>
  .link-wrapper {
    padding-bottom: 20px;
  }
</style>

<main>
  <article>
    <div class="link-wrapper">
      <a
        rel="noopener noreferrer"
        href={`/${url.includes("posts") ? "posts" : "tutorials"}`}>Back</a
      >
    </div>
    <p>{publishDate}</p>
    <h1>{title}</h1>
    <slot />
  </article>
</main>
