---
import type { ArticlePreview } from "../../utils/types";

type Props = ArticlePreview;
const { post }: Props = Astro.props;
---

<style>
  p + h3 {
    border-bottom: none;
  }

  article:last-of-type + hr {
    display: none;
  }
</style>

<article>
  <p>{post.frontmatter.publishDate}</p>
  <h3>{post.frontmatter.title}</h3>
  <p>{post.frontmatter.description}</p>
  <a href={post.url}>Read more</a>
</article>
<hr />
