---
import type { BlogPost } from "../../utils/types";

type Props = BlogPost;

const { publishDate, title }: Props = Astro.props;
---

<section>
  <div>
    <p>{publishDate}</p>
    <h1>{title}</h1>
  </div>
  <main>
    <slot />
  </main>
</section>
