---
import type { PostPreview } from "../../utils/types";

type Props = PostPreview;
const { post }: Props = Astro.props;
---

<style>
  h3 {
    border-bottom: none;
  }
</style>

<article>
  <p>{post.frontmatter.publishDate}</p>
  <h3>{post.frontmatter.title}</h3>
  <p>{post.frontmatter.description}</p>
  <a href={post.url}>Read more</a>
</article>
<hr />
