---
import { lastUpdated } from "../../utils/functions";

const { hash, date } = await lastUpdated();
---

<style>
  footer {
    text-align: center;
  }

  .last-updated {
    margin-top: 10px;
  }
</style>

<hr />
<footer>
  <div>
    Articles license - <a
      rel="noopener noreferrer"
      href="http://creativecommons.org/licenses/by-sa/4.0/"
      target="_blank">CC-BY-SA</a
    > / Souce Code license - <a
      rel="noopener noreferrer"
      href="https://www.gnu.org/licenses/gpl-3.0.en.html"
      target="_blank">GPL</a
    > / Inspiration - <a
      rel="noopener noreferrer"
      href="https://nora.codes/"
      target="_blank">nora.codes</a
    > & <a rel="noopeneer noreferrer" href="https://newcss.net" target="_blank"
      >new.css</a
    >
  </div>
  <div class="last-updated">
    Last updated on {date} (<a
      rel="noopener noreferrer"
      href={`https://gitlab.com/arecvlohe/arecvlohe.gitlab.io/-/commit/${hash.slice(
        0,
        8
      )}`}>{hash.slice(0, 8)}</a
    >)
  </div>
</footer>
