---
import { Icon } from "astro-icon";
---

<style lang="css">
  nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  a {
    display: flex;
    align-items: center;
  }

  [astro-icon] {
    height: 20px;
  }
</style>

<header>
  <h2>Spotted Arrow</h2>
  <nav>
    <a href="/">Home</a> /
    <a href="/posts">Posts</a> /
    <a href="/tutorials">Tutorials</a> /
    <a href="/keys">Keys</a> /
    <a href="/rss.xml">RSS</a>
  </nav>
</header>
