<style lang="css">
  nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  a {
    display: flex;
    align-items: center;
  }
</style>

<header>
  <h2>
    <a href="https://adamrecvlohe.com/" class="h-card" rel="me">Spotted Arrow</a
    >
  </h2>
  <nav>
    <a href="/posts">Posts</a> /
    <a href="/tutorials">Tutorials</a> /
    <a href="/keys">Keys</a> /
    <a href="/rss.xml">RSS</a>
  </nav>
</header>
